# =====================
# Node.js
# =====================
node_modules/
npm-debug.log
yarn-error.log
package-lock.json
.pnpm-debug.log

# =====================
# Java
# =====================
*.class
*.jar
*.war
*.ear
target/
bin/
build/

# =====================
# PHP / Laravel
# =====================
vendor/
composer.lock
.env

# =====================
# Flutter / Dart
# =====================
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
build/
ios/Pods/

# =====================
# IDE & OS Files
# =====================
.vscode/
.idea/
*.iml
*.swp
*.swo
.DS_Store
Thumbs.db
